@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans+KR:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import "tailwindcss";

@theme {
  --font-playfair: "Playfair Display", serif;
  --font-lora: "Lora", sans-serif;

  --color-background: #F2EDE4;
  --color-primary: #402C1A;
  --color-secondary: #735D49;
  --color-muted: #BFAE9F;
  --color-accent: #260F01;
}
